
<main class="main">
  <div>
    <ul>
      <li class="text" *ngFor="let user of users">
        {{user.first}} {{user.middle ?? ''}} {{user.last}} {{user.born}}
      </li>
    </ul>
  </div>

  <h1>From observable</h1>
  <div>
    <ul>
      <li class="text" *ngFor="let item of users$ | async">
        {{item.first}} {{item.middle ?? ''}} {{item.last}} {{item.born}}
      </li>
    </ul>
  </div>

  <button (click)="addDocument()">Add document</button>
  <button (click)="addDocument2()">Add document 2</button>
</main>
