<h1>Users</h1>

<div>
  <button (click)="displayCreateForm()">Create</button>

  <div class="table-wrapper">
    <div *ngIf="isLoading">Loading...</div>

    <table *ngIf="!isLoading">
      <thead>
        <th>Name</th>
        <th>Birth Year</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of users">
          <td>{{ item.first }} {{ item.middle ?? "" }} {{ item.last }}</td>
          <td>{{ item.born }}</td>
          <td>
            <div class="button-group">
              <button type="button" (click)="displayEditForm(item.id)">
                Edit
              </button>
              <button type="button" (click)="displayDeleteConfirmation(item.id)">Delete</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
